@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #3b82f6; /* Tailwind blue-500 */
  text-decoration: underline;
}

@layer components {
  .text-container {
    @apply py-4 w-[90%] sm:w-[75%] md:w-[70%] lg:w-[50%];
  }

  .MuiTypography-h5 {
    @apply font-bold!;
  }

  .text-subheading {
    @apply italic pb-1;
  }

  .text-block {
    @apply py-2;
  }

  .MuiTypography-button {
    @apply font-bold! py-2!;
  }

  .table-container {
    @apply justify-center items-center py-4!;
  }

  .odds-table {
    @apply justify-center w-full sm:w-full md:w-full lg:w-[75%] border-r-2! border-black;
  }

  .table-item {
    @apply flex justify-center items-center text-center! border-b-2! border-l-2! border-black;
  }
}
